html {
	width: 100%;
	height: 100%;
}
body {
    height:100%;
    width: 100%;
	overflow: hidden;
}

body * {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.red {
	color: #E25265;
}

.blue {
	color: #3F99B8;
}

.top-left {
	height: 49px;
	z-index: 2;
	font-size: 24px;
	font-weight: 300;
	position: absolute;
	top: 10px;
	left: 10px;
	color: #000;
	text-decoration: none;
}

.leaflet-control-attribution a {
	color: #000;
}

.row, .col {
    padding: 0;
    margin: 0;
}
.center {
    padding: 5px;
    margin: auto
}

.display-none {
    display: none;
}

.map {
    height: 100%;
    z-index: 0;
    padding: 0;
    margin: 0;
    display: block;
}

.info-jobs {
    height: 100%;
    z-index: 1;
    background-color: #FFF;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.info-jobs .jobs {
	display: block;
    padding: 10px;
	height: 40px;
	color: #E25265;
	font-size: 14px;
}

.list-jobs {
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: scroll;
	background-color: #FFF;
}

.list-jobs .list-element .col{
	border-top: 1px solid #E25265;
}

.list-jobs .list-element .col {
    color: #FFF;
    cursor: pointer;
}

.list-jobs .list-element .col:hover {
	background-color: rgb(88, 84, 84);
    background-color: rgba(88, 84, 84, 0.2);
}

.job-descr {
    font-weight: 100;
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
}

.job-descr .poste {
    display: block;
	color: #3F99B8;
	font-weight: 200;
	line-height: 18px;
	font-size: 16px;}

.job-descr .descr {
    display: block;
	font-weight: 100;
	color: #E25265;
    font-size: 16px;
}

.my-cluster-icon {
    height: 35px;
    width: 35px;
    line-height: 35px;
    border-radius: 50%;
	background-color: rgb(62, 153, 184);
    background-color: rgba(62, 153, 184, 0.8);
	color: #FFF;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
	font-weight: 400;
	z-index: 100;
}

.bottom-right-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: auto;
    height: auto;
    z-index: 2;
}

.sharebutt{
    font-weight: 100;
    display: block;
    padding-bottom: 5px;
}
.sharebutt:last-of-type{
    padding-bottom: 0;
}

.sharebutt .fa{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    color: #FFF;
    background-color: #3F99B8;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    cursor: pointer;
}

.leaflet_pop * {
	display: block;
}

.leaflet_pop h3{
	color: #E25265;
	line-height: 18px;
	font-size: 16px;
}

.leaflet_pop strong {
	display: inline-block;
}

.leaflet_pop a {
	font-size: 11px;
	margin-top: 5px;
	text-transform: uppercase;
	text-decoration: underline;
	color: #000;
}

.spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #000;
    font-size: 14px;
    text-align: center;
}

@media(max-width: 767px){
    .map {
        height: calc(100% - 200px);
    }
    .info-jobs {
        width: 100%;
        height: 200px;
        display: block;
        z-index: 1;
        background-color: #000;
        margin: 0;
        padding: 0;
        overflow-y: auto;
    }

	.info-jobs .jobs {
	    padding: 2px;
		height: 20px;
		font-size: 10px;
	}

	.list-jobs {
	    height: calc(100% - 20px);
	}

}
